.cat {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    object-fit: cover;
    vertical-align: middle;
    border: none;
    margin-left: 5px;
}

.text-box {
    font-size: 18px;
    border: none;
    width: 300px;
    vertical-align: middle;
}

.tweet-button {
    background-color: rgb(52, 133, 232);
    color: white;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    vertical-align: middle;
}

.tweet-div {
    border-radius: 5px;
    width: 450px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
}